<a href="https://colab.research.google.com/github/andyra42/bitstarter/blob/master/Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!python --version

Python 3.6.9

In [11]:
import time
print(time.ctime())
print("Hello Python")
counter =100
print (counter)

Sat Aug 15 01:06:04 2020
Hello Python
100

In [15]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string
print(counter)

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST
100

In [8]:
if True:
  print ("Answer")
  print ("True")
else:
  print ("Answer")
  print ("False")

Answer
True

In [22]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
#tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list
print(list)
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (list * 2)  # Prints list two times
print (list + list) # Prints concatenated lists
tinydict = {'name': 'john','code':6734, 'dept111': 'sales'}
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

['abcd', 786, 1000, 'john', 70.2]
[786, 1000]
[1000, 'john', 70.2]
['abcd', 786, 1000, 'john', 70.2, 'abcd', 786, 1000, 'john', 70.2]
['abcd', 786, 1000, 'john', 70.2, 'abcd', 786, 1000, 'john', 70.2]
dict_keys(['name', 'code', 'dept111'])
dict_values(['john', 6734, 'sales'])

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [2]:
pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /usr/local/lib/python3.6/dist-packages (0.8.1)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pandas_datareader) (2.23.0)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.6/dist-packages (from pandas_datareader) (1.0.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from pandas_datareader) (4.2.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas_datareader) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas_datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas_datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas_datareader) (3.0.4)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21->pandas_datareader) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21->pandas_datareader) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21->pandas_datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.21->pandas_datareader) (1.15.0)

In [7]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data
df = data.get_data_yahoo('MSFT','2018-01-01','2020-01-01')
df.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-01-02  86.309998  85.500000  86.129997  85.949997  22483800.0  82.798996
2018-01-03  86.510002  85.970001  86.059998  86.349998  26061400.0  83.184326
2018-01-04  87.660004  86.570000  86.589996  87.110001  21912000.0  83.916473
2018-01-05  88.410004  87.430000  87.660004  88.190002  23407100.0  84.956886
2018-01-08  88.580002  87.599998  88.199997  88.279999  22113000.0  85.043571

In [8]:
pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/1b/29/185269dbd2e2698c8098b35c52ce73a2c52cf76163e709f9f7789d03ebbb/Quandl-3.5.2-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.18.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.4.0)
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/d2/cd/f04c661d1b5ba6b7d77008e8fedd28a27a683eeeffcd93c6b2dbe54ea983/inflection-0.5.0-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.0.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.0 quandl-3.5.2

In [12]:
import quandl
aapl = quandl.get("WIKI/AAPL",start_date ='2018-01-01',end_date = '2020-07-01')
aapl.describe()

             Open        High         Low  ...    Adj. Low  Adj. Close   Adj. Volume
count   59.000000   59.000000   59.000000  ...   59.000000   59.000000  5.900000e+01
mean   172.434153  174.205937  170.771020  ...  170.771020  172.375593  3.642278e+07
std      6.383029    5.727306    6.951966  ...    6.951966    6.329329  1.318086e+07
min    154.830000  157.890000  150.240000  ...  150.240000  155.320000  1.752326e+07
25%    169.895000  172.150000  166.995000  ...  166.995000  168.592500  2.894756e+07
50%    173.680000  175.150000  172.660000  ...  172.660000  174.290000  3.332923e+07
75%    177.300000  178.685000  175.890000  ...  175.890000  176.970000  3.966549e+07
max    182.590000  183.500000  180.210000  ...  180.210000  181.720000  8.543608e+07

[8 rows x 12 columns]

In [15]:
df.head()
df.describe()
df.to_csv("msft-18-20")