<a href="https://colab.research.google.com/github/andyra42/bitstarter/blob/master/Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!python --version

Python 3.6.9

In [11]:
import time
print(time.ctime())
print("Hello Python")
counter =100
print (counter)

Sat Aug 15 01:06:04 2020
Hello Python
100

In [15]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string
print(counter)

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST
100

In [8]:
if True:
  print ("Answer")
  print ("True")
else:
  print ("Answer")
  print ("False")

Answer
True

In [22]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
#tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list
print(list)
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (list * 2)  # Prints list two times
print (list + list) # Prints concatenated lists
tinydict = {'name': 'john','code':6734, 'dept111': 'sales'}
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

['abcd', 786, 1000, 'john', 70.2]
[786, 1000]
[1000, 'john', 70.2]
['abcd', 786, 1000, 'john', 70.2, 'abcd', 786, 1000, 'john', 70.2]
['abcd', 786, 1000, 'john', 70.2, 'abcd', 786, 1000, 'john', 70.2]
dict_keys(['name', 'code', 'dept111'])
dict_values(['john', 6734, 'sales'])

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)